body {
    font-family: "Montserrat", sans-serif;
    color: #454545;
    margin: 0px;
    padding: 0px;
    background-color: #f8f8f8;
  }
.page {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  .ball {
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-flow: column;*/
  }
  .ball { /*new style*/
    margin: 0 auto;
    /*margin: 15% 3% 15% 3%;*/
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    overflow: hidden;
    position: relative;
  }
  .ball img{ /*new style*/
    /*margin: 0 auto;*/
    /*margin: 15% 3% 15% 3%;*/
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .button {
    margin: 0 auto;
  }
  /*
  Look at the unplugged project for proportionate image sizing TIPS (Done)
  Sort it out with percentages, and see if you can fix text sizing

  */
  /*img {
    height:285px;
  }*/

  .answer {
    position:absolute;
    width:20%;
    left:37%;
    margin-top: 30.5%;
    margin-left: 6%;
    font: 0.55em 'Open Sans', Helvetica, Arial, sans-serif;
    color: #222;
    text-transform: uppercase;
  }

  #questionButton {
    font: 26px 'Montserrat', Helvetica, Arial, sans-serif;
    border-radius: 5px;
    border: none;
    color: #f8f8f8;
    background-color: #f16059;
    /*padding: 10px 75px;*/
    padding: 15px 20px;
    display: block;
    margin: 0 auto;
  }

  header {
    padding-top: 0.25em;
    text-align: center;
  }
  header span {
    /*font-size: 60px;*/
    font-size: 1em;
    color: #f16059;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
  }

  footer p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
  }

  @media only screen and (min-width: 768px) {
    /*Tablet styles here*/
    header span {
      font-size: 60px;
    }

    h1 {
      font-size: 2em; /*new style*/
    }

    .ball {
      margin: 0 auto;
    }
    .ball {
      width: 60%;
      padding-bottom: 60%;
    }
  }
  @media only screen and (min-width: 1200px) {
    /*Tablet styles here*/
    .ball {
      width: 60%;
      padding-bottom: 60%;
    }
  }